{% extends "../layout.html" %}

{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="w-100 d-flex justify-content-center">
    <h3>Winners!!</h3>
</div>
<div class="home-list-events">
    <div class="home-event mb-3 mt-1">
        <div class="home-event-box">
            <div class="winner-event-img d-flex">
                <img class="winner-profile-img" src="{% static '/images/prof1.png' %}" alt="Example Image" />
                <div class="mt-4 ms-5">
                    <h4>Praveen Kumar V</h4>
                    <h6>username</h6>
                </div>
            </div>
            <div class="home-event-title">
                <h4 class="font">Hackathon Event</h4>
                <div>
                    <h5 style="color: #e13030;">First Place</h5>
                </div>
            </div>
            <div class="home-event-title mt-0">
                <div class="home-event-section">
                    <h6 class="home-font">Date</h6>
                    <p>12/12/2024</p>
                </div>
                <div class="home-event-section">
                    <h6 class="home-font">Location</h6>
                    <p>Erode</p>
                </div>
                <div class="home-event-section">
                    <h6 class="home-font">Participants</h6>
                    <p>123</p>
                </div>
            </div>
        </div>
    </div>
    <div class="home-event mb-3 mt-1">
        <div class="home-event-box">
            <div class="winner-event-img d-flex">
                <img class="winner-profile-img" src="{% static '/images/prof2.png' %}" alt="Example Image" />
                <div class="mt-4 ms-5">
                    <h4>Praveen Kumar V</h4>
                    <h6>praveen004</h6>
                </div>
            </div>
            <div class="home-event-title">
                <h4 class="font">Chess Competition Event</h4>
                <div>
                    <h5 style="color: #e13030;">Runner-up</h5>
                </div>
            </div>
            <div class="home-event-title mt-0">
                <div class="home-event-section">
                    <h6 class="home-font">Date</h6>
                    <p>12/12/2024</p>
                </div>
                <div class="home-event-section">
                    <h6 class="home-font">Location</h6>
                    <p>Erode</p>
                </div>
                <div class="home-event-section">
                    <h6 class="home-font">Participants</h6>
                    <p>123</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}