{% extends '../layout.html' %}

{% load static %}

{% block title %}
  Event
{% endblock %}

{% block extra_styles %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="stylesheet" href="{% static 'css/myevents.css' %}" />
  <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %}
  <div class="register d-flex">
    <img class="event-register-img" src="{% static '/images/im.png' %}" />
    <div>
      <div class="w-100 d-flex justify-content-between">
        <h4 class="p-3">Hackathon Event</h4>
        <span><button class="button-event mt-2">Announce</button></span>
      </div>
      <p class="p-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse possimus pariatur ut reprehenderit dicta! Eos facere enim reprehenderit quaerat architecto veritatis, aut ipsa hic non itaque porro quibusdam deleniti amet! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id eligendi dolorem aspernatur qui recusandae maxime assumenda alias velit provident est? Placeat eligendi sunt et ad provident, asperiores quia accusantium similique!</p>
    </div>
  </div>
  <div class="w-100 d-flex justify-content-between mt-3 ml-3">
    <h4>Participants (12)</h4>
  </div>
  <div>
    <div class="register-list-events">
      <div class="register-event mb-3 mt-1">
        <div class="register-event-box">
          <div class="winner-event-img d-flex justify-content-between">
            <div class="d-flex">
              <img class="register-profile-img" src="{% static '/images/prof1.png' %}" alt="Example Image" />
              <div class="mt-4 ms-5">
                <h5>Praveen Kumar V</h5>
                <h6>praveen004</h6>
              </div>
            </div>
            <div>
              <input type="checkbox" style="width: 25px; height: 25px;"/>
            </div>
          </div>
          <div class="home-event-title">
            <p class="font">Register Date & Time : 21 jan 24 ,2 :30</p>
            <div></div>
          </div>
        </div>
      </div>
      <div class="register-event mb-3 mt-1">
        <div class="register-event-box">
          <div class="winner-event-img d-flex justify-content-between">
            <div class="d-flex">
              <img class="register-profile-img" src="{% static '/images/prof2.png' %}" alt="Example Image" />
              <div class="mt-4 ms-5">
                <h5>Praveen Kumar V</h5>
                <h6>praveen004</h6>
              </div>
            </div>
            <div>
              <input type="checkbox" style="width: 25px; height: 25px;"/>
            </div>
          </div>
          <div class="home-event-title">
            <p class="font">Register Date & Time : 21 jan 24 ,2 :30</p>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
