{% extends "../layout.html" %}

{% load static %}

{% block title %}Event{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/myevents.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="register d-flex">
    <img class="event-register-img" src="{{ event.poster.url }}" alt="{{ event.name }} Poster" />
    <div>
        <div class="w-100 d-flex justify-content-between">
            <h4 class="p-3">{{ event.name }}</h4> 
            <span>
                <button class="button-event mt-2">Edit</button>
                <button class="button-event mt-2">Delete</button>
            </span>
        </div>
        <p class="p-3">{{ event.description }}</p>
        <div class="home-event-title mt-0 p-3 w-50 d-flex justify-content-between">
            <div class="home-event-section">
                <h6 class="home-font">Date</h6>
                <p>{{ event.date }}</p>
            </div>
            <div class="home-event-section">
                <h6 class="home-font">Location</h6>
                <p>{{ event.location }}</p>
            </div>
            <div class="home-event-section">
                <h6 class="home-font">Tickets Available</h6>
                <p>{{ event.total_tickets }}</p>
            </div>
        </div>
    </div>
</div>
<div class="w-100 d-flex justify-content-between mt-3 ml-3">
    <h4>Registration ({{ registrations.count }})</h4>
</div>
<div>
    <div class="register-list-events">
        {% for registration in registrations %}
        <div class="register-event mb-3 mt-1">
            <div class="register-event-box">
                <div class="winner-event-img d-flex">
                    <img class="register-profile-img" src="{% static '/images/prof1.png' %}" alt="Example Image" />
                    <div class="mt-4 ms-5">
                        <h5>{{ registration.user.username }}</h5>
                        <h6>{{ registration.user_id }}</h6>
                    </div>
                </div>
                <div class="home-event-title">
                    <p class="font">Registered {{ registration.created_at|date:"Y-m-d" }}</p>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No registrations found.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}
