{% extends "../layoutCollege.html" %}

{% load static %}

{% block title %}Create Event{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/questions.css' %}">
{% endblock %}

{% block content %}

<div>
    <div class="container">
        <h4>Event Details</h4>
        <form id="question-form" onsubmit="submitForm(event)">
            <div class="outer-container p-4 mb-4">
                <div class="questionBox-flex-ind">
                    <label class="mb-0">Event Name</label>
                    <input name="name" class="event-input" required />
                </div>
                <div class="questionBox-flex-ind">
                    <label class="mb-0">Event Description</label>
                    <textarea name="description" class="event-input" required></textarea>
                </div>
                <div class="questionBox-flex-ind">
                    <label class="mb-0">Event Full Details</label>
                    <textarea name="full_details" class="event-input" required></textarea>
                </div>
            </div>
            <h4>Event Info</h4>
            <div class="outer-container p-4 mb-4">
                <div class="questionBox-flex-ind">
                    <label class="mb-0">Poster</label>
                    <input name="poster" id="poster-input" class="event-input" required type="file" />
                    <img id="poster-preview" src="#" alt="Image Preview"
                        style="display:none; max-width: 100px; margin-top: 10px;">
                </div>
                <div class="questionBox-flex-ind">
                    <label class="mb-0">Date</label>
                    <input name="date" class="event-input" required type="date" />
                </div>
                <div class="questionBox-flex-ind">
                    <label class="mb-0">Location</label>
                    <input name="location" class="event-input" required />
                </div>
                <div class="questionBox-flex-ind">
                    <label class="mb-0">Total Tickets</label>
                    <input name="total_tickets" class="event-input" type="number" required />
                </div>
                <div class="questionBox-flex-ind">
                    <label class="mb-0">Paid</label>
                    <input type="checkbox" id="paid-checkbox" onchange="toggleAmountInput()" style="width: 15px; height: 15px;"/>
                </div>
                <div class="questionBox-flex-ind">
                    <label class="mb-0">Amount</label>
                    <input name="amount" id="amount-input" class="event-input" type="number" disabled />
                </div>
            </div>
            <h4>Registration Questions</h4>
            <div class="outer-container">
                <div id="questions-container"></div>
                <div class="button-add-question">
                    <button id="add-question" type="button" class="btn-primary">Add Question</button>
                </div>
            </div>
            <div class="w-100 d-flex justify-content-center mt-3">
                <button type="submit" class="btn-success">Create Event</button>
            </div>
        </form>
    </div>

    <script>
        document.getElementById('poster-input').addEventListener('change', function () {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const img = document.getElementById('poster-preview');
                    img.src = e.target.result;
                    img.style.display = 'block';
                }
                reader.readAsDataURL(file);
            }
        });

        document.getElementById('add-question').addEventListener('click', function () {
            const questionsContainer = document.getElementById('questions-container');
            const questionBox = document.createElement('div');
            questionBox.className = 'question-box mb-3';

            questionBox.innerHTML = `
                <div class="questionBox-flex-ind">
                    <label class="mb-0">Question</label>
                    <input name="questions" class="event-input" required />
                </div>
                <div class="d-flex mt-2 justify-content-between">
                    <div>
                        <label>Required?</label>
                        <input type="checkbox" class="mb-3 ml-1 mr-5" id="required-${questionsContainer.children.length + 1}">
                    </div>
                    <button type="button" class="ml-1 btn btn-danger delete-question p-1" style="width: 80px;">Delete</button>
                </div>
            `;

            questionsContainer.appendChild(questionBox);

            questionBox.querySelector('.delete-question').addEventListener('click', function () {
                questionBox.remove();
            });
        });

        function toggleAmountInput() {
            const paidCheckbox = document.getElementById('paid-checkbox');
            const amountInput = document.getElementById('amount-input');
            amountInput.disabled = !paidCheckbox.checked; // Enable/disable the amount input based on the checkbox state
            if (!paidCheckbox.checked) {
                amountInput.value = ''; // Clear amount if not paid
            }
        }

        function submitForm(event) {
            event.preventDefault();

            const formData = new FormData(document.getElementById('question-form'));

            const questionsContainer = document.getElementById('questions-container');
            const questionBoxes = questionsContainer.querySelectorAll('.question-box');
            const questionsData = [];

            questionBoxes.forEach((box, index) => {
                const questionInput = box.querySelector('[name="questions"]').value;
                const required = box.querySelector(`#required-${index + 1}`).checked;

                const questionData = {
                    id: index + 1,
                    question: questionInput,
                    required: required,
                };

                questionsData.push(questionData);
            });

            formData.append('questions', JSON.stringify(questionsData));

            // Add paid status
            const paidCheckbox = document.getElementById('paid-checkbox');
            formData.append('paid', paidCheckbox.checked); // Will be true or false

            console.log(paidCheckbox.checked)

            // Add amount if paid
            if (paidCheckbox.checked) {
                const amountInput = document.getElementById('amount-input');
                formData.append('amount', amountInput.value);
                console.log(amountInput.value)
            } else {
                formData.append('amount', 0); // Set to 0 if not paid
            }

            const userIdFromURL = new URLSearchParams(window.location.search).get('userId');
            const userIdFromCookie = getCookie('id');
            const userId = userIdFromURL || userIdFromCookie;

            if (userId) {
                formData.append('userId', userId);
            }

            fetch('/createevent/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                body: formData,
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    alert('Event created successfully!');
                    document.getElementById('question-form').reset();
                    document.getElementById('questions-container').innerHTML = '';
                    document.getElementById('poster-preview').style.display = 'none'; // Hide poster preview
                })
                .catch(error => console.error('Error:', error));
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
</div>

{% endblock %}
