{% extends "../layout.html" %}

{% load static %}

{% block title %}Registered Events{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/myevents.css' %}">
{% endblock %}

{% block content %}
<div class="myevents-top">
    <div class="home-head-section2">
        <input class="event-search" type="search" placeholder="Search events..." />
        <button type="submit" class="event-search-button"><i class="fas fa-search"></i></button>
    </div>
</div>

<div class="event-listing">
    {% for event in events %}
    <div class="list-event mb-2 mt-1">
        <div class="list-event-box">
            <div class="list-event-img">
                <img class="img-class" src="{{ event.poster.url }}" alt="{{ event.name }} Poster" />
            </div>
            <div class="list-event-title">
                <h4 class="font">{{ event.name }}</h4>
                <div>
                    <a href="#"><i class="fas fa-edit"></i></a> 
                    <span class="p-3"><a href="#">View Ticket</a></span> 
                </div>
            </div>
            <div class="list-event-title mt-0">
                <div class="event-section">
                    <h6 class="font">Date</h6>
                    <p>{{ event.date }}</p>
                </div>
                <div class="event-section">
                    <h6 class="font">Location</h6>
                    <p>{{ event.location }}</p>
                </div>
                <div class="event-section">
                    <h6 class="font">Tickets Available</h6>
                    <p>{{ event.total_tickets }}</p>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No registered events found.</p>
    {% endfor %}
</div>
{% endblock %}
